.contactForm {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap:0.5rem;
}
.contactForm>textarea {
	grid-column: 1/span 2;
}
.contactForm>select {
	background-color: var(--primary-col);
	color: white;
	border-radius: 0.5rem;
}
.contactTypeDropdown {
	display:flex;
	align-items: center;
	justify-content: center;
}
.submitButton {
	grid-column: 1/span 2;
}
.doubleIconButton>img{
	margin: 0 0.5rem;
}
option, select, textarea{
	font-size: 1.25rem;
	font-family: mainFont, serif;
}
#email {
	font-size: 1.25rem;
}
#contactTypeIcon{
	height: 2rem;
}

@media only screen and (max-width: 40rem) {
	.submitButton {
		grid-column: 1;
	}
	.contactForm>textarea {
		grid-column: 1;
	}
	.contactForm {
		grid-template-columns: 1fr;
	}
}