.wakatime {
	font-family: 'Rubik', serif;
}
.stepTitle{
	display:grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: auto auto auto;
	gap: 1rem;
}
.wakatimeLogo{
	display: flex;
}
.wakatimeLogo>img {
	height: 2rem;
	width: auto;
}
.stepSection{
	display:none;
}
.stepSection>img{
	width: 100%;
	height: auto;
}
.stepSection>div{
	display:flex;
}	
.expandButton {
	justify-self: right;
	margin: auto;
}
.expandButton>img {
	transition: transform 300ms;
	margin: 0;
}
.alternateLogin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
}
#signUpErrors {
	margin: auto;
	border-radius: 0.5rem;
}