.signinForm>button {
	font-size: 2rem;
}
.alternateLogin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
}
#signInErrors {
	margin: auto;
	border-radius: 0.5rem;
	display:none;
	background-color: red;
}