:root {
	font-size :16px;
	font-family: mainFont;
	--primary-col: #7900FF;
	--primary-col-dark: #31006a;
	--secondary-col: #548CFF;
	--secondary-col-dark: #1f489a;
	--light1-col: #93FFD8;
	--light2-col: #CFFFDC;
}
html, body {
	margin: 0;
}
main {
	margin: 0 5rem;
}
h1, h2, h3, h4, h5 {
	font-family: titleFont;
}
@font-face {
	font-family: mainFont;
	src: url(../assets/Fonts/Aldrich-Regular.ttf);
}
@font-face {
	font-family: titleFont;
	src: url(../assets/Fonts/Omicron.ttf);
}


button {
	font-family: mainFont;
	font-weight: bolder;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--secondary-col);
	border: 0.2rem solid var(--secondary-col);
}
button:hover {
	border: 0.2rem solid var(--secondary-col-dark);
}
button:active {
	border: 0.2rem solid var(--secondary-col);
	background-color: var(--secondary-col-dark);
}