@import "navbar.css";
@import "footer.css";

:root {
	font-size :16px;
	color: white;
	font-family: mainFont;
	--primary-col: #041C32; /*#CFFFDC;*/
	--primary-col-light: #0c4b87;
	--secondary-col: #114757;
	--secondary-col-light: #196e88;
	--light1-col: #3E8E7E;
	--light2-col: #56cab3; /*#93FFD8;*/
}
html{
	min-height: 100%;
}
body {
	margin: 0;
	background-color: var(--primary-col);
	position: relative;
  	min-height: 100vh;
}
main {
	margin: 0 5rem;
	padding: 0 2rem 7.4rem;
}
a{
	text-decoration: none;
}
h1, h2{
	font-family: titleFont;
}
h1, h2, h3, h4, h5, h6, p {
	text-align: center;
	margin: 0;
}
h1{font-size:4rem;}
h2{font-size:3.5rem;}
h3{font-size:3rem;}
h4{font-size:2.5rem;}
h5{font-size:2rem;}
h6{font-size:1.5rem;}
p{font-size: 1rem;}
@font-face {
	font-family: mainFont;
	src: url(../assets/Fonts/Aldrich-Regular.ttf);
}
@font-face {
	font-family: titleFont;
	src: url(../assets/Fonts/Omicron.ttf);
}
button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: mainFont;
	color:white;
	font-weight: bolder;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--secondary-col);
	border: 0.2rem solid var(--secondary-col);
}
button:hover {
	border: 0.2rem solid var(--secondary-col-light);
	cursor: pointer;
}
button:active {
	border: 0.2rem solid var(--secondary-col);
	background-color: var(--secondary-col-light);
}
button>img{
	margin-right: 0.6rem;
	height: 2rem;
	width: auto;
}
section {
	background-color: var(--primary-col-light);
	border: 0.3rem solid black;
	border-radius: 2rem;
	padding: 1rem;
	margin: 1rem 0;
	/* overflow: hidden; */
}
.whiteShift {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}
input{
	border-radius: 0.5rem;
	border: 0.2rem solid black;
	text-align:center;
	font-family: mainFont;
}
hr {
	border-top: 0.2rem solid black;
	width: 100%;
}

.standardHeader{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}
.standardHeader>img{
	height: 3rem;
	width: auto;
	margin: 1rem;
}	

.form {
	display: grid;
	gap: 0.5rem;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 3fr;
}
.form>*{
	grid-column: span 2;
}
.form>p{
	font-size: 1.5rem;
	grid-column: span 1;
	justify-self: left;
}
.form>input {
	width: 100%;
	font-size: 1.5rem;
	grid-column: span 1;
	justify-self: left;
}


@media only screen and (max-width: 40rem) {
	main{
		margin: 0 2rem;
		padding: 0 2rem 7.4rem;
	}
	:root{
		font-size:14px;
	}
	.form {
		grid-template-columns: auto;
	}
	.form>*, .form>p, .form>input {
		grid-column: span 1;
		justify-self: center;
	}
}

@media only screen and (max-width: 40rem) {
	main{
		margin: 0 2rem;
		padding: 0 2rem 7.4rem;
	}
	:root{
		font-size:14px;
	}
	.form {
		grid-template-columns: auto;
	}
	.form>*, .form>p, .form>input {
		grid-column: span 1;
		justify-self: center;
	}
}

@media only screen and (max-width: 30rem) {
	main{
		margin: 0 1rem;
		padding: 0 1rem 7.4rem;
	}
	:root{
		font-size:12px;
	}
}